.banner {
  padding-top: 20px;
  padding-bottom: 20px;
  background: black;
  text-align: center;
}

.banner--title {
  margin: 0 auto;
  position: relative;
  width: 50%;
  a {
    overflow: hidden;
    display: block;
    h1 {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }
  img {
    max-width: 100%;
  }
}
