<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    @@include('./../includes/meta.html', {"title": "GSN 30 Day Abs Challenge"})
  </head>
  <body>
    
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '875940412462173',
        xfbml      : true,
        version    : 'v2.2'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
    
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        @@include('./../includes/banner.html', {"class": "has-hero"})

        <main id="content" class="group" role="main">
          <div class="main">
            <form enctype="multipart/form-data" action="result.php" method="post" role="form">
              
              <input type="hidden" name="image1" id="image1" value="">
              <input type="hidden" name="image2" id="image2" value="">
              
              <div class="text-center"><p>Complete your name and email address to have the final image sent to you. Alternatively you can right click the image then share it on any social media you wish. We will not use your image without your permission.</p></div>
              
              <div class="step step-1 step-active">

                <h2>Your Details</h2>

                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" value="" required="required">
                </div>

                <div class="form-group">
                  <label for="email">Your Email</label>
                  <input type="email" name="email" class="form-control" value="" required="required">
                </div>
                
                <hr>
                
                <div class="form-btn text-center">
                  <button class="button step-button" data-step="1">Next</button>
                </div>

              </div>
              <div class="step step-2">
                
                <div class="form-group">
                  <label for="days">How many days?</label>
                  <select name="days">
                    <option value="7">Day 7</option>
                    <option value="14">Day 14</option>
                    <option value="21">Day 21</option>
                    <option value="30">Day 30</option>
                  </select>
                </div>
                
                <hr>
                
                <div class="form-btn text-center">
                  <button class="button step-button" data-step="2">Next</button>
                </div>
              </div>
              <div class="step step-3">

                <div class="form-group picture-frame">

                  <h2>Your Day 1 Photo</h2>

                  <div class="image-editor image-editor-1">
                    <input type="file" class="cropit-image-input">
                    <div class="cropit-image-preview"></div>
                    <div class="image-size-label">
                      Resize image
                    </div>
                    <input type="range" class="cropit-image-zoom-input">
                    <button class="export">Create</button>

                    <div class="preview-image"><span>To create your photo, upload it above and click 'Create'</span></div>
                  </div>

                </div>
                
                <hr>
                
                <div class="form-btn text-center">
                  <button class="button step-button" data-step="3">Next</button>
                </div>

              </div>
              <div class="step step-4">

                <div class="form-group picture-frame">

                  <h2>Your Day 2 Photo</h2>

                  <div class="image-editor image-editor-2">
                    <input type="file" class="cropit-image-input">
                    <div class="cropit-image-preview"></div>
                    <div class="image-size-label">
                      Resize image
                    </div>
                    <input type="range" class="cropit-image-zoom-input">
                    <button class="export">Create</button>

                    <div class="preview-image"><span>To create your photo, upload it above and click 'Create'</span></div>
                  </div>

                </div>
                
                <hr>
                
                <div class="form-btn text-center">
                  <button type="submit" class="button">Create your before &amp; after photo</button>
                </div>

              </div>
              
            </form>
          </div>
        </main>

        @@include('./../includes/footer.html')

      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="js/app.js"></script>
    <script>
    $('#retrievingfilename').html5imageupload({
      onAfterProcessImage: function() {
        $('#filename').val($(this.element).data('name'));
      },
      onAfterCancel: function() {
        $('#filename').val('');
      }

    });

    $('.dropzone').html5imageupload();
    </script>
  </body>
</html>
